        
        
        <footer>
            <hr>
            <p>
                CST336 Internet Programming. 2019&copy; Alejandro
                <br>
                <strong>Disclaimer: </strong> The information in this webpage is fictitious
                <br>
                It is used for academic purposes only.
            </p>
            
                <img src="/img/csumb_logo.png" width = "200" alt = "csumb">
            
        </footer>
        
    </body>

</html>

