<!DOCTYPE html>
<html>

    <head>
        
        <title>Programming Languages</title>
        
        <meta charset="utf-8">

        <link href = "css/styles.css" rel = "stylesheet" type = "text/css" />

    </head>

    <body>
        
        <header>
            
            <h1> Programming Languages </h1>
            
        </header>
        
        <hr>
        
        <nav>
            <a class = "link" href = "/"> home </span> </a>
            <a class = "link" href = "/machinecode"> machine code </a>
            <a class = "link" href = "/assembly"> assembly </a>
            <a class = "link" href = "/hll"> high-level languages </a>
        </nav>