<% include partials/header.ejs %>
        <main>
            
            <figure>
                <img src = "img/Motorola_6800_Assembly_Language.png" width = "500" alt = "motorola asm">
                <p class = "description">Motorola 6800 ASM.</p>
            </figure>
            
            <div id = "explanation">
                <p>
                    <strong class = "emphasis">Assembly code</strong>, or <strong class = "emphasis">ASM</strong> for short, is the first 
                    <br>
                    human-readable layer of abstraction regarding the layers of programming languages.
                    
                </p>
                
                <p>
                    The only languages below it are that which is incomprehensible to humans -- 
                    <br>
                    machine code, binary, and hardware.
                </p>
                
                <p>
                    Assembly language varies from hardware to hardware.
                    <br>
                    Demonstrated to the left is one such example.
                </p>
                
                <p>
                    ASM is translated into machine code via an <strong class = "emphasis">assembler.</strong>
                    <br>
                    Machine Code is translated into ASM via a <strong class = "emphasis">disassembler.</strong>
                </p>
                
                <details> <!-- new html tag 2 -->
                    <summary>Show Citations:</summary> <!-- new html tag 3 -->
                    <ul>
                    <li><a href="https://www.webopedia.com/TERM/A/assembly_language.html">https://www.webopedia.com/TERM/A/assembly_language.html</a></li>
                    <li><a href="https://thebittheories.com/levels-of-programming-languages-b6a38a68c0f2">https://thebittheories.com/levels-of-programming-languages-b6a38a68c0f2</a></li>
                    </ul>
                </details>
                
            <form class = "NEXT!" action = "/hll"> <!--new html tag 1-->
                <input type = "submit" value = "Next!" />
            </form>
            
            </div>
            

        </main>
<% include partials/footer.ejs %>