<% include partials/header.ejs %>        
        <main>
            
            <figure>
                <img src = "img/cc.jpg" width = "500" alt = "literally c++">
                <p class = "description"> C++ </p>
            </figure>
            
            <div id = "explanation">
                
                <p>
                <strong class = "emphasis">High Level Language</strong> is perfectly comprehensible, and analogous to English.
                <br>
                Languages like C++, JavaScript, and Python belong in this realm.
                </p>
                
                <p>
                Its level of abstraction allows for ease of comprehension and composition, 
                <br>
                but requires a <strong class = "emphasis">compiler</strong> or <strong class = "emphasis">interpreter</strong> for them to run.
                </p>
                
                <p>
                <strong class = "emphasis">Compilers</strong> tend to "translate" the entire program into machine code 
                before runtime, 
                <br>
                comparable to a translator compiling a series of books
                </p>
                
                <p>
                <strong class = "emphasis">Interpreters</strong>, on the other hand, are more tantamount to -- well -- a live
                interpreter 
                <br>translating for someing mid-conversation,
                wherein the program is translated line by line during runtime.
                </p>
                
                <p>
                <strong class = "emphasis">Decompilers</strong> translate machine code to high-level languages, 
                <br>though
                they are prone to quirks and failure due to various idiosyncrasies found between languages.            
                </p>
                

                <details>
                    <summary>My High-Level Language Experience:</summary>
                            <table>
                    <tr id= "table-header">
                        <td><strong>Programming Language</strong></td>
                        <td><strong>Years of Experience</strong></td>
                    </tr>
                    <tr class="table-row">
                        <td>C++</td>
                        <td>2</td>
                    </tr>
                    <tr class="table-row">
                        <td>Python 2.7</td>
                        <td>1</td>
                    </tr>
                    <tr class="table-row">
                        <td>Java</td>
                        <td>0.5</td>
                    </tr>
                </table>
                </details>
                
                <details>
                    <summary>Show Citations:</summary>
                    <ul>
                    <li><a href="https://www.webopedia.com/TERM/P/programming_language.html">https://www.webopedia.com/TERM/P/programming_language.html</a></li>
                    <li><a href="https://www.webopedia.com/TERM/C/compile.html">https://www.webopedia.com/TERM/C/compile.html</a></li>
                    <li><a href="https://www.webopedia.com/TERM/I/interpreter.html">https://www.webopedia.com/TERM/I/interpreter.html</a></li>
                    <li><a href="https://thebittheories.com/levels-of-programming-languages-b6a38a68c0f2">https://thebittheories.com/levels-of-programming-languages-b6a38a68c0f2</a></li>
                    </ul>
                </details>
                
                <form class = "NEXT!" action = "/">
                    <input type = "submit" value = "Go home. There's nothing else to talk about." />
                </form>
                
            </div>

        </main>
<% include partials/footer.ejs %>