<% include partials/header.ejs %>        
        <main>
            
            <figure>
                <img src = "img/1E46S.jpg" width = "500" alt = "machine">
                <p class = "description"> Can't really read it, can you? </p>
            </figure>

            
            <div id = "explanation">
                
                <p>
                <strong class = "emphasis">Machine code</strong> is a machine's native tongue -- that is, nothing except hardware exists below it.
                </p>
                
                <p>
                Any and all computer hardware runs on boolean logic -- ones and zeroes. On and off.
                </p>
                
                <p>
                Aside from those who are specialized enough, machine code is highly incomprehensible.
                </p>
                
                <p>
                Machine code, after compilation into some executable, tends to show itself as an object file,
                <br>
                which highlights the sheer incomprehinsibility of it all.
                </p>
                
                <p>
                Assembly languages are assembled into machine code.
                <br>
                High level languages are either compiled and interpreted into machine code.
                </p>
            <details>
                <summary>Show Citations:</summary>
                <ul>
                <li><a href="https://www.webopedia.com/TERM/P/programming_language.html">https://www.webopedia.com/TERM/P/programming_language.html</a></li>
                <li><a href="https://www.webopedia.com/TERM/M/machine_language.html">https://www.webopedia.com/TERM/M/machine_language.html</a></li>
                <li><a href="https://thebittheories.com/levels-of-programming-languages-b6a38a68c0f2">https://thebittheories.com/levels-of-programming-languages-b6a38a68c0f2</a></li>
                </ul>
            </details>
            
            <form class = "NEXT!" action = "/assembly"> <!--new html tag 1-->
                <input type = "submit" value = "Next!" />
            </form>

            
            </div>

        
        </main>
<% include partials/footer.ejs %>